# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# Python virtual environment libraries
**/venv/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
backend/.env
.env
.venv
venv/
ENV/
gcp/*
backend/src/gcp/*
**/cloud-vision-service-account.json

# Node.js
node_modules/
.next/
out/
build/
.DS_Store
*.pem
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
firebase-debug.log
.firebase/
service-account.json

# Database
*.sqlite3
*.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.coverage
htmlcov/
.pytest_cache/

# Production
.env.production
